In [1]:
# Author : Chand Pasha
# Last Updated : 10-06-2020
# This notebook contains List, Tuple, Dictionary, Sets and Strings

## Lists 

1. Lists are ordered sequences that holds a variety of objects
2. Uses square brackets [ ]
3. Values inside list are called list items and are seperated by commas i.e comma-delimited
4. Lists support indexing and slicing. 
5. Lists can be nested  i.e lists can also contain other lists
6. Index starts from 0. We can also use negative integers for the index. -1 refers to the last item in list
7. Lists are Mutable
8. Python uses references whenever variables must store valuesof mutable data type such as list and dictionary

In [2]:
a = ['Hello', 3.145, True, None, 42]

In [3]:
len(a)

5

In [4]:
a[0]

'Hello'

Python gives **IndexError** message if you use and index that exceeds the range of given list

In [5]:
a[5]

IndexError: list index out of range

In [6]:
a[0:3]

['Hello', 3.145, True]

In [7]:
my_list = [1, 3, ['a', 'b', 'c']]

In [8]:
my_list[2]

['a', 'b', 'c']

In [9]:
my_list[2][1]

'b'

In [10]:
a[-1]

42

In [11]:
a[-3]

True

In [12]:
a[0] = 'abc'

In [13]:
a

['abc', 3.145, True, None, 42]

In [14]:
my_list[-2] = 123

In [15]:
my_list

[1, 123, ['a', 'b', 'c']]

In [16]:
'''
+  - List concatination
*  - List Replication

'''
a = [1,2,3]
b = ['a', 'b', 'c']

In [17]:
a+b

[1, 2, 3, 'a', 'b', 'c']

In [18]:
a*2

[1, 2, 3, 1, 2, 3]

1. del statement is used for simple variable delete
2. pop() used to remove a item at the end of list. It returns removed value
3. pop(index) used to remove an item a specific index

In [19]:
del a[0]

In [20]:
a

[2, 3]

In [21]:
a.pop()

3

In [22]:
a.pop(0)

2

In [23]:
2 in [1,2,3,5]

True

In [24]:
spam = ['hello', 'hi', 'howdy', 'kemcho']
'cat' in spam

False

In [25]:
'hi' not in spam

False

We can assign multiple variables with the values in the list. The no of variables and length of list must be equal

In [26]:
cat = ['fat', 'black', 'loud']
size, color, disposition = cat

In [27]:
size

'fat'

In [28]:
color

'black'

In [29]:
disposition

'loud'

### List Methods 

In a nutshell, methods are functions associated with classes. Methods are esseentially functions that are built into objects

In [30]:
spam

['hello', 'hi', 'howdy', 'kemcho']

In [31]:
# When there are duplicates of the value, index of the first appearance returned
spam.index('hi')

1

In [32]:
spam.append(['a', 'b', 'c'])

In [33]:
spam

['hello', 'hi', 'howdy', 'kemcho', ['a', 'b', 'c']]

In [34]:
spam.insert(3, 'kaisenba')

In [35]:
spam

['hello', 'hi', 'howdy', 'kaisenba', 'kemcho', ['a', 'b', 'c']]

In [36]:
spam.remove('kemcho')

In [37]:
spam

['hello', 'hi', 'howdy', 'kaisenba', ['a', 'b', 'c']]

In [38]:
spam.pop()

['a', 'b', 'c']

In [39]:

spam.pop(2)

'howdy'

In [40]:
spam

['hello', 'hi', 'kaisenba']

Attempting to delete a value that doesn't exists inlist results in **ValueError**. If the value appears multiple times only first instance of the value will be removed

In [41]:
l = [23, 57, 43, 26, 26,  18, 234]

In [42]:
# sort() uses ASCIIbatical order rather than alphabatical order
l.sort()

In [43]:
l

[18, 23, 26, 26, 43, 57, 234]

In [44]:
l.sort(reverse = True)

In [45]:
l

[234, 57, 43, 26, 26, 23, 18]

In [46]:
l.count(26)

2

In [47]:
l.extend([1, 2, 3])

In [48]:
l

[234, 57, 43, 26, 26, 23, 18, 1, 2, 3]

In [49]:
l.append([1,2,3])

In [50]:
l

[234, 57, 43, 26, 26, 23, 18, 1, 2, 3, [1, 2, 3]]

When you assign a list to a value, you are actually assigning a list reference to the variable

In [51]:
spam = [0,1,2,3,4]
cheese = spam

In [52]:
spam[0] = 'Hello'

In [53]:
spam

['Hello', 1, 2, 3, 4]

In [54]:
cheese

['Hello', 1, 2, 3, 4]

1. copy.copy() can be used to make a duplicate copy of a mutable value, not just reference
2. deepcopy() function will copy inner lists as well

In [55]:
import copy
spam = ['a', 'b', 'c']
cheese = spam.copy()
cheese[1] = 42

In [56]:
spam

['a', 'b', 'c']

In [57]:
cheese

['a', 42, 'c']

**Note :** A list value is a mutable datatype, It can have values added, removed or changed. However a string is immutable it can't be changed. The proper way to mutate a string is to use slicing and concatination to build a new string by copying from parts of the original string

In [58]:
name = 'Zophie a Cat'
new_name = name[0:7] + 'The' + name[8:len(name)]

In [59]:
new_name

'Zophie The Cat'

## Tuples

1. Tuples are similar to lists, but unlike lists tuples are immutable
2. Tuples uses paranthesis ( )
3. Tuples can't have their values modified, appended or removed
4. if you have only one value in tuple, you can indicate this by placing a trailing comma after the value inside paranthesis, otherwise python thinks you just have typed a value in regular paranthesis
5. Functions list() and tuple() will return list and tuple versions of the values passed to them

In [60]:
tup = ('Hello' , 42, 0.5)

In [61]:
type(tup)

tuple

In [62]:
a = ('hello')
type(a)

str

In [63]:
type(('hello',))

tuple

In [64]:
tuple(['cat', 'bat', 'rat'])

('cat', 'bat', 'rat')

In [65]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [66]:
t = ('a', 'b', 'c', 'a')
t.count('a')

2

In [67]:
t.index('a')

0

pprint.pprint() function will pretty print the contents of list or dictionary to the screen. while pformat function will return this same text as string instead of printing it

In [68]:
stuff = ['spam', 'eggs', 'lumberjack', 'knights', 'ni']
import pprint
pprint.pprint(stuff)

['spam', 'eggs', 'lumberjack', 'knights', 'ni']

## Dictionary

1. Dictionaries are orderd collection of objects. They use key-value pairs
2. Ditictionaries use angled brackets { }
3. unlike lists, dictionaries are un ordered, so can't be sorted
4. Trying to access a key that doesn't exist in dictionary will result in **IndexError**

In [69]:
my_cat = {'size':'fat', 'color':'grey'}
my_cat

{'size': 'fat', 'color': 'grey'}

In [70]:
my_cat['size']

'fat'

In [71]:
d = {'k1':123,'k2':[1,2,3],'k3':{'inside_key':100}}
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'inside_key': 100}}

In [72]:
d['k2']

[1, 2, 3]

In [73]:
d['k3']['inside_key']

100

keys() : returns keys of dictionary<br/>
values() : returns values of dictionary<br/>
items() : returns both keys and values <br/>

The values returned by above methods are not true lists, but these data types dict_keys, dict_values and dict_items. and can't be used in for loops

In [74]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [75]:
d.values()

dict_values([123, [1, 2, 3], {'inside_key': 100}])

In [76]:
d.items()

dict_items([('k1', 123), ('k2', [1, 2, 3]), ('k3', {'inside_key': 100})])

In [77]:
spam = {'color' : 'red', 'age' : 42}
for k,v in spam.items():
    print(f' key : {k} value : {v}')

 key : color value : red
 key : age value : 42

In [78]:
'age' in spam.values()

False

In [79]:
'color' in spam.keys()

True

In [80]:
# get() takes two values : the key of value to retrieve and fallback value to return if that doesn't exist
spam.get('age', 0)

42

In [81]:
spam.get('abc', 'not exist')

'not exist'

In [82]:
# setdefault() takes 2 arguments, the first is the key to check for and second is the value to set
# if that key doesn't exist
# setdefault() is a nice shortcut to ensure that the key exists 
spam.setdefault('color', 'black')

'red'

In [83]:
spam

{'color': 'red', 'age': 42}

In [84]:
spam.setdefault('name','abc')

'abc'

In [85]:
spam

{'color': 'red', 'age': 42, 'name': 'abc'}

In [86]:
# program to print no of occurences of each word

message = input('Enter the string : ')
def word_count(message):
    word_dict = {}
    for i in message.split() :
        word_dict.setdefault(i,0)
        word_dict[i] += 1
    return word_dict

count = word_count(message)
print(count)

Enter the string : Hello World
{'Hello': 1, 'World': 1}

In [87]:
import pprint
pprint.pprint(d)

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'inside_key': 100}}

## Strings 

1. strings are sequence of characters. Either single or double quotes can be used
2. An escape character let's you use characters that are otherwise impossible to put into string

  \\'  - Single Quote <br/>
  \\'' - Double Quotes <br/>
  \t  - Tab <br/>
  \n  - New line <br/>
  \\  - Black slash <br/>


3. A raw string completely ignores all escape characters.
4. multiline strings in python begins and ends with either three single quotes or three double quotes
5. A multiline string is often used for comments that span multiple lines
6. Strings allows both indexing and slicing

In [88]:
spam = 'That\'s Alice cat'
print(spam)

That's Alice cat

In [89]:
print(r'That\'s carol cat')

That\'s carol cat

In [90]:
print('''
Hi Alice
How Are you
I am good
''')

Hi Alice
How Are you
I am good

In [91]:
spam = 'Hello World'

In [92]:
spam[4]

'o'

In [93]:
spam[0:5]

'Hello'

In [94]:
spam[6:]

'World'

In [95]:
# to reverse a string
spam[::-1]

'dlroW olleH'

In [96]:
'Hello' in 'Hello World'

True

In [97]:
'd' not in 'abcd'

False

### String Methods

In [98]:
spam

'Hello World'

In [99]:
spam.upper()

'HELLO WORLD'

In [100]:
spam.lower()

'hello world'

In [101]:
# All the non-letter characters remains unchanged
spam = 'abc123'
spam.upper()

'ABC123'

In [102]:
spam.islower()

True

In [103]:
spam.isupper()

False

In [104]:
# return true if string consists only letters not blanks
spam.isalpha()

False

In [105]:
# returns true if string has only letters and numbers not blanks
spam.isalnum()

True

In [106]:
# returns true if string consists only decimals not blank
spam.isdecimal()

False

In [107]:
# returns true if string consists only spaces, tabs and new lines not blanks
spam.isspace()

False

In [108]:
# returns true if string consists only words that begin with uppaercase followed by lower case
spam.istitle()

False

In [109]:
'abc123'.startswith('abc')

True

In [110]:
'Hello World'.endswith('World')

True

In [111]:
','.join(['cats','rats','bats'])

'cats,rats,bats'

In [112]:
'My name is Khan'.split()

['My', 'name', 'is', 'Khan']

In [113]:
'My Name is Simon'.lower().split('m')

['', 'y na', 'e is si', 'on']

In [114]:
# splits only at first occurances
'Hello World'.partition('l')

('He', 'l', 'lo World')

In [115]:
'Hello'.rjust(10)

'     Hello'

In [116]:
'Hello'.ljust(10)

'Hello     '

In [117]:
'Hello'.rjust(10, '*')

'*****Hello'

In [118]:
'Hello'.ljust(10, '-')

'Hello-----'

In [119]:
'Hello'.center(15, '=')

'=====Hello====='

In [120]:
# strip() removes white space characters
spam = '   Hello World  '
spam.strip()

'Hello World'

In [121]:
spam.lstrip()

'Hello World  '

In [122]:
spam.rstrip()

'   Hello World'

In [123]:
# order of characters in string passed to strip() doesn't matter
spam = 'SpamSpamBaconSpamEgssSpamSpam'
spam.strip('apmS')

'BaconSpamEgss'

In [124]:
'abc'.capitalize()

'Abc'

In [125]:
s = 'Hello World'
s.count('l')

3

In [126]:
s.find('o')

4

pyperclip module has functions copy() and paste() that can send to and receive text from computers clipboard

In [128]:
import pyperclip
pyperclip.copy('Hello World')
pyperclip.paste()

'Hello World'

In [ ]:
pip install pyperclip

Strig Interploation is the process of substituting values of local variables into place holders in a string
1. .format() Method
2. f-strings (formatted string literals)

In [129]:
print('this is the string {}'.format('Inserted'))

this is the string Inserted

In [131]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [132]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown',q =  'quick'))

The quick brown fox

In [133]:
name = 'Chand'
print(f'Hello his name is {name}')

Hello his name is Chand

In [136]:
result = 100/777
result

0.1287001287001287

In [139]:
# {value:width.precisionf}
print(f'the resulit is {result:1.3f}')

the resulit is 0.129

## Sets

1. Sets are unordered collection of unique elements
2. Sets also support mathematical operations such as union, intersection, differenec and symmetric difference etc..
3. to create sets { } or set() can be used
4. to create empty set we have to use set(). {} creates empty dictionary
5. Sets don't support indexing and slicing since they are un ordered
6. Sets are Mutable
7. The frozenset type is immutable and hashable

In [140]:
my_set = {'apple', 'orange', 'banana'}

In [141]:
type(my_set)

set

In [142]:
a = set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [143]:
ex = set('abcd')

In [144]:
ex

{'a', 'b', 'c', 'd'}

In [146]:
'orange' in my_set

True

In [147]:
len(ex)

4

In [148]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [149]:
# returns true if the set has no elements in common
# sets are disjoint only if their intersection is empty set
s1.isdisjoint(s2)

False

In [150]:
s1.isdisjoint(s3)

True

In [151]:
s1.issubset(s2)

True

In [152]:
s2.issuperset(s1)

True

In [153]:
s1.union(s2)

{1, 2, 4}

In [154]:
s1.union(s3)

{1, 2, 5}

In [155]:
s1.intersection(s2)

{1, 2}

In [156]:
s2.difference(s1)

{4}

In [157]:
s1.difference(s2)

set()

In [159]:
# returns a new set with elements in either the set or other. but not both
s1.symmetric_difference(s2)

{4}

In [161]:
# copy returns a shallow copy of the set
s = {1,2,3}
sc = s.copy()
sc

{1, 2, 3}

In [162]:
s1

{1, 2}

In [163]:
s1.update(s2)

In [164]:
s1

{1, 2, 4}

In [165]:
s1.intersection_update(s2)

In [166]:
s1

{1, 2, 4}

1. remove() removes element from set. raises KeyError if element is not in the set
2. discard() removes element from set if it is present
3. pop() removes and returns element. raises KeyError if element not found in set
4. clear() removes all elements from the set

## Comprehensions

comprehensions provide us with short and concise way to construct new sequnces using sequences which have been already defined. Python supports 4 types of comprehension
1. List Comprehensions
2. Dictionary. Comprehensions
3. Set Comprehensions
4. Generator Comprehension

In [168]:
# List Comprehensions provide an elegant way to create new lists
my_string = 'Hello World'
my_list = [x for x in my_string]
my_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [170]:
my_list = [num for num in range(0,11) if num%2 == 0]
my_list

[0, 2, 4, 6, 8, 10]

In [172]:
result = [x if x%2 == 0 else 'Odd' for x in range(11)]
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [173]:
my_list = [x*y for x in [2,4,5] for y in [1,10,100]]
my_list

[2, 20, 200, 4, 40, 400, 5, 50, 500]